name: Zephyr Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: zephyrprojectrtos/zephyr-build:latest
 
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: main
 
      - name: West Init
        working-directory: main
        run: west init -l .
 
      - name: West Update
        working-directory: main
        run: west update
 
      - name: West Build
        working-directory: main
        run: west build -b nucleo_f091rc hello_zephyr