name: Zephyr Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      ZEPHYR_TOOLCHAIN_VARIANT: zephyr
      ZEPHYR_SDK_INSTALL_DIR: /home/runner/work/zephyr-sdk-0.16.5-1
      CMAKE_PREFIX_PATH: /home/runner/work/zephyr-sdk-0.16.5-1

    steps:
      - name: Checkout hello_zephyr app
        uses: actions/checkout@v4
        with:
          path: app
 
      - name: Set up Python                                                                                  
        uses: actions/setup-python@v5                                                                        
        with:                                                                                                
          python-version: '3.10'                                                                             
                                                                                                             
      - name: Install west                                                                                   
        run: pip install west                                                                                
                                                                                                             
      - name: Get Zephyr SDK                                                                                 
        run: |                                                                                               
          wget https://github.com/zephyrproject-rtos/sdk-ng/releases/download/v0.16.5-1/zephyr-sdk-0.16.5-1_linux-x86_64_minimal.tar.xz                                                                                                     
          tar xvf zephyr-sdk-0.16.5-1_linux-x86_64_minimal.tar.xz -C /home/runner/work                                         
          /home/runner/work/zephyr-sdk-0.16.5-1/setup.sh -t all
 
      - name: West Init (Zephyr Workspace)
        run: west init zephyrproject --mr v3.6-branch
 
      - name: West Update
        working-directory: zephyrproject
        run: west update
 
      - name: Install Python dependencies
        working-directory: zephyrproject
        run: pip install -r zephyr/scripts/requirements.txt
 
      - name: West Build
        working-directory: zephyrproject
        run: west build -b nucleo_f091rc ../app                                                                   

      - name: List files for debugging
        run: ls -R

      - name: Upload Artifacts                                                                                     
        if: success()
        uses: actions/upload-artifact@v4                                                                           
        with:                                                                                                      
          name: zephyr-firmware                                                                                    
          path: ${{ github.workspace }}/zephyrproject/build/zephyr